<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ANPR GitHub Stats</title>
    <!-- Bootstrap Italia-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.0.1/dist/css/bootstrap-italia.min.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg has-megamenu">
        <div class="menu-wrapper">
          <ul class="navbar-nav">
            <li class="nav-item dropdown megamenu">
              <span>Team Digitale</span>
            </li>
          </ul>
        </div>
    </nav>
    </div>

    <div class="container">
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">ANPR Dashboard</h1>
        <h2 class="h4">Periodo analisi: da {{start-date}} a {{end-date}}</h2>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary
          shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>Scarica Report</a>
      </div>

     <!-- Content Row -->
      <div class="row">
        <!-- Card -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Triage </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{ #no-triage}}
                      {{ no-triage }} €
                      {{ /no-triage }}
                      {{ ^no-triage }}
                      {{ 0 }}
                      {{ /no-triage }}
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> Secondo Livello</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ #late-triage}}
                  {{ late-triage }} €
                  {{ /late-triage }}
                  {{ ^late-triage}}
                  {{ 0 }}
                  {{ /late-triage}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Terzo Livello</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                      {{ #sol-fine}}
                      {{ sol-fine }} €
                      {{ /sol-fine }}
                      {{ ^sol-fine}}
                      {{ 0 }}
                      {{ /sol-fine}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
       
    <div class="row">

    <!-- Table-->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Issue Problematiche</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <table class="table table-hover">
              <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">URL</th>
                  <th scope="col">Triage (Euro)</th>
                  <th scope="col">Late Triage (Euro)</th>
                  <th scope="col">Terzo Livello (Euro)</th>
                </tr>
              <tr>
                {{#lista}}
                <td>{{title}}</td>
                <td><a href="{{url}}">Link</a></td>
                <td>{{no_triage}}</td>
                <td>{{late_triage}}</td>
                <td>{{sol_fine}}</td>
              </tr>
                {{/lista}}
            </table>
          </div>
        </div>
      </div>
    </div>

    </div><!-- /.container -->


    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.0.1/dist/js/bootstrap-italia.bundle.min.js"></script>
  </body>
</html>

